<h1>Welcome to Ruby Social</h1>

       <%= link_to "Login", new_account_session_path, class: "btn btn-primary" %>
       <%= link_to "Signup", new_account_registration_path, class: "btn btn-secondary" %>