<h1>Posts</h1>

  <% @posts.each do |post| %>
    <div class="card my-3">
      <div class="card-body">
        <% if post && post.image.attached? %>
          <%= image_tag post.image, class: "card-img-top", style: "max-height: 250px;, max-width: 100px;" %>
        <% end %>
        <div class="col">
          <div class="row">
        <p class="card-title mt-3">Description: <%= post.description %></p>
        </div>
        <div class="row">
        <p><span>Posted by <%= link_to "@#{post.account.username}", profile_show_path(username: post.account.username) %> at <%= post.created_at %> </span></p>
        </div>
        </div>
      </div>
    </div>
  <% end %>